<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>List of users</h1>
<table width="20%" border="5" cellpadding="10" cellspacing="5">

    <tr>
        <th>id</th>
        <th>name</th>
        <th>password</th>
        <th>operation</th>
    </tr>
    <tr>
        <td>
            <th:block th:each="lu : ${list_users}">
                <p th:text="${lu.getId()}"></p>
            </th:block>
        </td>
        <td>
            <th:block th:each="lu : ${list_users}">
                <p th:text="${lu.getName()}"></p>
            </th:block>
        </td>
        <td>
            <th:block th:each="lu : ${list_users}">
                <p th:text="${lu.getPassword()}"></p>
            </th:block>
        </td>

        <td>
            <th:block th:each="lu : ${list_users}">
                <a th:href="@{/edit/{id}(id=${lu.getId()})}">edit</a>
                <a th:href="@{/delete/{id}(id=${lu.getId()})}">delete</a>
            </th:block>
        </td>
    </tr>
</table>

<h1>Add of users</h1>
<a th:href="@{/add}">Add new user</a>
</body>
</html>
